@model BLL.App.DTO.DeliveryType

@{
    ViewData["Title"] = "Create";
}

<h1>@Resources.Common.Create</h1>

<h4>            @Resources.Domain.Delivery.Delivery.DeliveryTypeUnit
</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <partial name="_CreateEditPartial"/>
            <div class="form-group">
                <input type="submit" value="@Resources.Common.Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@Resources.Common.BackToList</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}