@model WarehouseItemsViewModel

<h4>
    @Resources.Domain.Warehouse.Warehouse.WarehouseUnit
</h4>
<dl class="row">
    <dt class="col-sm-2">
        @Resources.Domain.Warehouse.Warehouse.Name
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Warehouse.Name)
    </dd>
</dl>