@model CategoryCreateEditViewModel

@{
    ViewData["Title"] = "Create";
}


<h4>@Resources.Domain.Category.Category.CategoryUnit</h4>

<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <partial name="_CreateEdit"/>

            <div class="form-group">
                <input type="submit" value="@Resources.Common.Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@Resources.Common.BackToList</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}